repos:
  - repo: local
    hooks:
      - id: eslint
        name: Validate HTML and JavaScript
        entry: npx eslint --no-warn-ignored
        language: system
        files: \.(html|js)$
        types: [file]
      - id: stylelint
        name: Validate CSS
        entry: npx stylelint --allow-empty-input
        language: system
        files: \.(css|html)$
        types: [file]
