repos:
  - repo: local
    hooks:
      - id: html-validate
        name: Validate HTML structure
        entry: npx html-validate
        language: system
        files: \.html$
        types: [file]
      - id: eslint
        name: Validate JavaScript
        entry: npx eslint --no-warn-ignored
        language: system
        files: \.(html|js)$
        types: [file]
      - id: stylelint
        name: Validate CSS
        entry: npx stylelint --allow-empty-input
        language: system
        files: \.(css|html)$
        types: [file]
